

[submodule "amm"]
	path = amm
	url = https://github.com/rushikeshg25/amm
[submodule "capstone/fairflow-capstone"]
	path = capstone/fairflow-capstone
	url = https://github.com/rushikeshg25/fairflow-capstone
